.vscode
__pycache__
.mat
.vtk
.raw
.asv
3DSAXS_package/STEP2_SASTT_optimization_SH.asv
.html
.ipynb_checkpoints
profile_results_automatic
profile_results_symbolic
profile_results_AD_nonpar
profile_results_AD_par_noGPU
Avtaler
Archive
.pdf
Data sets/Debug Data
Data sets/analysis
Doc
Avtaler
projection_a_1_or_1
Results/trash
Results/pres_res



